html,body
{
    width: 100%;

    margin: 0px;
    padding: 0px;

}
body{
    background-color: #111111;
    padding: 0;
margin: 0;
font-family: 'Poppins', sans-serif;

}
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 10px 150px #111;
  border-radius: 2px;
}
::-webkit-scrollbar-thumb {
  background: #e10000;
  border-radius: 4px;
}
a{
  text-decoration: none;
}
a:visited{
  text-decoration: none;
}
.tagline{
  height: 100vh;
    line-height: 100vh;

    width: fit-content;
}
.tagline h1{

    color: white;
    /* margin-top: 9.4em; */
    padding-left: 2.5em;
    font-weight: 300;
    font-size: 2em;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    margin-bottom: 0;
}
.links {
  display:inline;
  float:right;

}
.links a {
  font-size:1em;
  padding: 1em;
  line-height: 4.2em;
  color: white;
  font-weight: 300;

}
.heading{
  margin-top: 2em;
  text-align:center;
  color: white;
  font-weight: 200;
}
.heading hr{

  border: red 1px solid;
  margin: auto;
  margin-top: 0.25em;
  width: 3em;
}

.regbtn{
  float: right;
      color: white;
      background: red;
      border: none;
      border-radius: 10px;
      padding: 0.5em 1em;
      margin: 10px;
      font-size: 1em;
}
.navbarr{
  background: black;
  position: fixed;
  max-width: 100%;
  width: 100%;
  padding-right: 1em;
  z-index: 999;
}
#contact{
  position: relative;
}
.contactgrid{
  background: #1c1c1c;
  border-radius: 25px;
  
  z-index: 888;
}
.contactgrid a img{
  max-width: 1.4em;

  margin-bottom: 1.5em;
}
.contactgrid h3{
  padding-left: 1em;
  padding-top: 1em;

  color: white;
  display: inline-block;
}

.titlebtns{
  color: white;
    background: red;
    border: none;
    border-radius: 10px;
    padding: 0.75em 3.5em;
    /* margin: 10px; */
    font-weight: 200;
    margin-top: 2em;
    font-size: 0.45em;
}


.logo{
  max-width: 10em;
  margin-top: 0.5em;
  margin-left: 1em;
}
.sidenav {
    height: 100%;

    width: 65px;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: #161616;
    overflow-x: hidden;
    padding-top: 20px;
  }

  .sidenav a {
    padding: 6px 6px 6px 18px;
    text-decoration: none;
    font-size: 25px;
    display: block;
  }

  .sidenav a:hover {
    color: #f1f1f1;


  }



  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  .sidenavbtns:hover{
    animation: lmao 0.6s 1;
    animation-fill-mode: forwards;
  }
  @keyframes lmao{
      0%{
          filter:invert(0%);
      }
      100%{
          filter: invert(100%);
      }
  }
.aboutcontent{
  margin-top: 2em;
  font-size: 1.3em;
}
.card{
  background: #1c1c1c;
  margin: 1em 0.5em;
  border-radius: 1em;
}
.card h3{
  color:white;
  margin-top: 0.5em;
  font-size: 2em;

}
.teamimg{
  border-radius: 125px;
  text-align: center;
  margin: auto;
  max-width: 80%;
}
.col-69{
  position: absolute;
width: 625px;
height: 100px;
margin-top: 10em;
background: #1C1C1C;
border-radius: 50px;
}
.sheesh{
  position: absolute;
width: 4px;
height: 49px;
left: 20em;
top: 1.5em;
background: #424242;
border-radius: 5px;
}
.preloader1{
  animation: preloaderanim 5s infinite;
  margin-left: 40.875em;
 margin-top: 16em;
}
@keyframes preloaderanim{
  0%{
   position: absolute;
   width: 30px;
   height: 0px;
   
   background: #FF0101;
  }
  50%{
   position: absolute;
   width: 30px;
   height: 170px;
   
   background: #FF0101;
  }
  100%{
    
   position: absolute;
   width: 30px;
   height: 0px;
   
   background: #FF0101;
  }
}
.preloader2{
 animation: preloaderanim 5s infinite;
 left: 10em;
 margin-top: 16em;
 margin-left: 42em;
}
.preloader3{
 animation: preloaderanim2 5s infinite;
 animation-fill-mode: forwards;
 margin-left: 42em;
 margin-top: 10em;
 transform: rotate(90deg);
}
@keyframes preloaderanim2{
 0%{

   position: absolute;
   width: 20px;
   height: 200px;
   top:0.1em;
   left: 5em;
   background: #FF0101;
 }
 100%{
  position: absolute;
  width: 20px;
  height: 200px;
  top:0.1em;
  left: 5em;
  background: #FF0101;
 }

}

